/* Homebanner CSS */

.home_banner {
  width: 100%;
  height: 800px;
  background-image: url(../images/Image4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  object-fit: contain;
  object-position: center;
  overflow-x: hidden;
}

.backdrop {
  background-color: #011631;
  height: 100%;
  width: 100%;
  opacity: 80%;
}

.home_container {
  display: flex;
  justify-content: center;
}

.home_content {
  margin-top: 186px;
  display: flex;
  justify-content: center;
  width: 87vw;
}

.front_content {
  width: 50%;
}

.bold_heading {
  color: var(--white);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: bolder;
  line-height: 70.5px; /* 117.5% */
}

.sub_heading_home {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--lightGrey);
}

.homebanner_btn {
  display: flex;
  align-items: center;
  gap: 41px;
}

.get_started_btn {
  font-weight: 600;
  display: flex;
  width: 128px;
  height: 48px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: var(--white);
  font-size: 16px;
  background: var(
    --gradient,
    linear-gradient(89deg, #c9442d 0.55%, #893e97 91.24%)
  );
  border: 1px solid transparent;
}

.get_started_btn:hover {
  background: linear-gradient(var(--black), var(--black)) padding-box,
    linear-gradient(to right, #c9442d, #893e97) border-box;
  border-radius: 8px;
}

.work_btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 8px;
}

.home_ideas_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.home_ideas {
  width: 75vw;
  display: flex;
  justify-content: space-around;
}

.idea_body {
  width: 411px;
  background-color: var(--lightBlack);
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  color: var(--white);
  border-radius: 8px;
  position: relative;
  bottom: 95px;
  transform: translateY(0px);
  transition: 1s;
  border: 1px solid #374151;
}

.idea_body:hover {
  transition: 1s;
  transform: translateY(-60px);
}

.ideas_icon {
  font-size: 32px;
  color: #893e97;
  background: white;
  border-radius: 50%;
  padding: 8px;
  width: 32px;
  height: 32px;
  display: flex;
}

.ideas_heading {
  font-size: 20px;
  font-weight: 600;
}

.ideas_description {
  font-weight: 400;
  line-height: 24px;
  width: 300px;
  color: var(--lightGrey);
}

.read_more_btn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 8px;
}

.read_more_icon {
  font-size: 4px;
}

.idea_body:hover .read_more_icon {
  font-size: 16px;
  transition: 1s;
}

/* PenetrationTesting CSS */

.heading {
  transform: translateY(80%);
  transition: transform 1s ease-in-out;
  opacity: 0.1;
}

.heading.slide-in {
  transform: translateY(0);
  opacity: 1;
}

.penetration_container {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}

.penetration_container h1 {
  text-align: center;
  color: var(--white);
  font-size: 60px;
}

.supportive_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.supportive_text {
  color: var(--lightGrey);
  width: 60%;
  text-align: center;
  margin-top: -20px;
  font-size: 20px;
}

.penetration_desp_info {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.penetration_desp_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.penetration_img {
  width: 40vw;
  display: flex;
  justify-content: center;
}

.penetration_icon {
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: #893e97;
  background: white;
  border-radius: 50%;
  padding: 8px;
  display: flex;
}

.penetration_desp_content {
  width: 56%;
}

.penetration_desp_content h2 {
  font-size: 20px;
  color: var(--white);
  margin: 0;
}

.penetration_desp_content p {
  color: var(--grey);
  font-size: 16px;
  line-height: 24px;
  width: 745px;
}

.penetration_desp_box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  gap: 10px;
}

/*  penetration Benefit CSS */
.benefits_box {
  width: 100%;
  height: 1685px;
  background-image: url(../images/Image5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  object-fit: contain;
  object-position: center;
  overflow-x: hidden;
}

.benefit_detail {
  display: flex;
  justify-content: flex-end;
  display: none;
}

.benefit_detail span {
  font-size: 1.375rem;
  padding: 0.25rem;
  border-radius: 50%;
  color: #893e97;
  box-shadow: 0px 0px 10px 0px rgba(137, 62, 151, 0.2) inset;
  width: 1rem;
  height: 1rem;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
}

/* why Penetration CSS  */

.why_penetration_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.why_penetration_box {
  display: flex;
  flex-wrap: wrap;
  width: 65vw;
  justify-content: center;
}

.why_penetration_content {
  max-width: 400px;
  min-width: 200px;
  height: 137px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--black), var(--black)) padding-box,
    linear-gradient(to right, #c9442d, #893e97) border-box;
  border: 1px solid transparent;
  border-radius: 28px;
  margin: 25px;
  gap: 10px;
}

.why_penetration_content_h1 {
  color: var(--white);
  width: 374px;
  font-size: 60px;
  line-height: 60px;
  white-space: wrap;
  text-align: center;
  margin: 0;
  position: relative;
  bottom: 60px;
}

.card_container {
  animation: cardContainer 1s ease-in;
}

@keyframes cardContainer {
  0% {
    transform: translateY(80%);
  }
  100% {
    transform: translateY(0);
  }
}

.card_cover {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.card_cover2 {
  width: 95vw;
  display: flex;
  justify-content: center;
}

.scene {
  width: 65vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.scene2 {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  width: 374px;
  height: 200px;
  color: white;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(0.5turn);
}

.card__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  backface-visibility: hidden;
  transition: 1s ease-in-out;
  -webkit-box-reflect: below 0
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
}

.why_penetration_content_back {
  max-width: 374px;
  min-width: 200px;
  height: 137px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 28px;
  margin: 25px;
  background: linear-gradient(180deg, #c9442d -28.1%, #893e97 118.25%);
}

.why_penetration_content_back p {
  margin: 0 20px;
  text-align: center;
}

.card__face--back {
  transform: rotateY(0.5turn);
}

/* Lates Blog CSS */

.latest_App {
  font-family: sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.images-container {
  display: flex;
  max-width: 73vw;
  overflow: scroll;
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

.image {
  width: 337px;
  height: 429px;
  border-radius: 28px;
}

.nav-btn {
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  background-color: var(--orange);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 5px;
  color: var(--white);
  font-size: 30px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_btn_left {
  position: absolute;
  left: 12%;
  z-index: 9;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.nav_btn_right {
  position: absolute;
  right: 12%;
  z-index: 9;
}

/* Slide in Overlay from the Top */

.latest_container {
  overflow-y: clip;
  overflow-x: visible;
  position: relative;
  width: 337px;
  height: 429px;
  margin: 35px;
  border-radius: 28px;
}

.image {
  display: block;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background-color: black;
  opacity: 0.8;
  overflow: hidden;
  width: 337px;
  height: 0;
  transition: 1s ease;
  border-radius: 28px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.latest_container:hover .overlay {
  bottom: 0;
  height: 429px;
}

.latest_container:hover .overlay {
  height: 100%;
}

.overlay_bottom {
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0.8;
  overflow: hidden;
  width: 337px;
  height: 0;
  transition: 1s ease;
  border-radius: 28px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.latest_container:hover .overlay_bottom {
  top: 0;
  height: 429px;
}

.text {
  font-size: 20px;
  width: 300px;
  line-height: 28px;
  font-weight: 600;
}

.avatar_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 245px;
  margin-right: 85px;
  margin-top: 20px;
  margin-bottom: 65px;
}

.avatar {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.avatar_info h2,
p {
  margin-bottom: 5px;
}

.avatar_info h2 {
  font-size: 16px;
}

.avatar_info p {
  color: var(--grey);
  font-size: 14px;
}

/* Penetration Benefit CSS */

.benefits {
  background-image: url("../images/Image5.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  margin: 200px 0;
}

.benefit_text {
  position: relative;
  top: 0;
  transition: 3s;
}

.benefits_penetration_desp_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.benefits_penetration_container h1 {
  color: var(--white);
  font-size: 60px;
  width: 72%;
  text-align: left;
}

.benefits_penetration_container h1 {
  color: var(--white);
  font-size: 60px;
  width: 72%;
  text-align: left;
}

.benefit_supportive_text {
  color: var(--lightGrey);
  width: 60%;
  text-align: center;
  margin-top: -20px;
  width: 397px;
}

.penetration_flex {
  margin-top: 100px;
}

.benefit_penetration_desp_box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  margin-bottom: 20px;
  gap: 10px;
  background-color: var(--lightBlack);
  width: 407px;
  height: 285px;
}

.benefit_penetration_desp_content p {
  color: var(--grey);
  font-size: 16px;
  line-height: 24px;
  width: 347px;
  margin-bottom: 0;
}

.benefit_penetration_desp_content h2 {
  font-size: 16px;
  color: var(--white);
  width: 245px;
  font-weight: 600;
}

.benefit_desp_icon {
  display: flex;
  align-items: center;
  gap: 29px;
  margin-bottom: 20px;
}

.scroll-trigger {
  margin-bottom: 70px;
  transform: translateY(80px);
  opacity: 0;
  transition: transform 3s ease, opacity 0.5s ease;
}

.scroll-trigger.animate {
  transform: translateY(0px);
  opacity: 1;
}

@media screen and (max-width: 500px) {
  /*  landing page */

  .home_banner_img {
    display: none;
  }
  .bold_heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
    width: 18.75rem;
  }

  .home_content {
    display: flex;
    justify-content: space-around;
  }

  .sub_heading_home {
    width: 18.75rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  .idea_body:hover {
    transform: translateY(0px);
  }

  .get_started_btn {
    width: 6.25rem;
    height: 2.25rem;
    padding: 0.5rem 0.75rem 0.56rem 0.688;
    font-size: 0.875rem;
  }

  .work_btn {
    width: 8.75rem;
    font-size: 0.875rem;
  }

  .home_ideas {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
  }
  .read_more_icon {
    font-size: 1.25rem;
  }
  .penetration_container {
    gap: 0.625rem;
  }

  .penetration_container h1 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    width: 13.75rem;
  }

  .supportive_text {
    width: 18.75rem;
    font-size: 0.875rem;
  }

  .penetration_desp_content h2 {
    font-size: 1rem;
    font-weight: 400;
    text-wrap: nowrap;
  }

  .penetration_desp_content p {
    width: 16.25rem;
    font-size: 0.875rem;
  }

  .images-container {
    max-width: 100vw;
    margin-right: 1.875rem;
    margin-left: 1.875rem;
  }

  .latest_container .image {
    width: 13.313rem;
    height: 17.063rem;
  }
  .overlay {
    position: absolute;
    opacity: 0.8;
    width: 13.313rem;
    height: 17.06rem;
    top: 0;
  }
  .overlay .text,
  .overlay_bottom .text {
    font-size: 0.875rem;
    width: 11.93rem;
    line-height: 1.18rem;
    height: 3.56;
  }

  .avatar_info h2 {
    font-size: 0.875rem;
  }

  .avatar_info p {
    font-size: 0.75rem;
  }

  .nav_btn_right {
    position: absolute;
    right: 0;
    top: 42%;
    z-index: 9;
    width: 3.125rem;
    height: 3.125rem;
  }

  .nav_btn_left {
    position: absolute;
    left: 0;
    top: 42%;
    z-index: 9;
    width: 3.125rem;
    height: 3.125rem;
  }

  .footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_container :first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_heading {
    font-size: 1rem;
  }

  .footer_heading,
  .footer_links {
    text-align: center;
    margin-bottom: 0;
  }

  .social_links {
    display: flex;
  }

  .benefit_penetration_desp_box {
    width: 8.75rem;
    height: 8.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .benefits_penetration_container h1 {
    font-size: 1.5rem;
    width: 8.75rem;
  }
  .benefit_penetration_desp_content h2 {
    width: 7.313rem;
    font-size: 0.675rem;
    text-align: center;
    font-weight: 400;
  }

  .benefit_penetration_desp_content p {
    display: none;
  }

  .benefit_supportive_text {
    width: 8.75rem;
    font-size: 0.875rem;
    text-align: left;
    margin-top: 0;
  }
  .benefit_text {
    position: relative;
    top: 5.625rem;
    right: 1.75rem;
  }

  .benefit_desp_icon {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    gap: 0.5rem;
  }
  .penetration_icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}

@media screen and (max-width: 500px) {
  .benefit_detail {
    display: flex;
  }

  .scene,
  .scene2 {
    width: auto;
  }

  .scene :nth-child(1) {
    order: 1;
  }

  .why_penetration_content_h1 {
    font-size: 1.5rem;
    text-wrap: wrap;
    width: 12.5rem;
    line-height: 1.75rem;
  }
}
