/* Header Css */
.header_container {
  width: 100vw;
  height: 4rem;
  background-color: var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 5;
  top: 0;
}

.header_links {
  display: flex;
  gap: 99px;
}

.header_links_li {
  color: var(--white);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  list-style-type: none;
  text-decoration: none;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid transparent;
}

.header_links_li:hover {
  color: var(--orange);
}

.active {
  border-top: 5px solid #c9442d;
  border-radius: 4px;
  width: max-content;
  font-weight: 700;
}

.header_btn {
  color: var(--white);
  display: flex;
  width: 128px;
  height: 48px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--black), var(--black)) padding-box,
    linear-gradient(to right, #c9442d, #893e97) border-box;
  border-radius: 8px;
  background: var(
    --gradient,
    linear-gradient(89deg, #c9442d 0.55%, #893e97 91.24%)
  );
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 600;
}

.header_btn:hover {
  background: linear-gradient(var(--black), var(--black)) padding-box,
    linear-gradient(to right, #c9442d, #893e97) border-box;
  border-radius: 8px;
  transition: 3s;
}

/* Footer  Css*/
.footer_wrapper {
  width: 100vw;
  margin-top: 10%;
}

.footer_container {
  display: flex;
  justify-content: space-evenly;
  width: 95vw;
}

.footer_text {
  width: 290px;
  line-height: 24px;
  color: var(--grey);
  margin: 19px 0;
}

ul {
  list-style-type: none;
}

.footer_tags {
  margin-top: 15px;
  margin-right: 22px;
  color: var(--white);
  font-size: 24px;
}

.footer_heading {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--white);
}

.footer_links {
  color: var(--grey);
  margin-bottom: 16px;
}

.footer_copyright {
  color: var(--grey);
  border-top: 1px solid #374151;
  margin-top: 39px;
}

.footer_copyright p {
  text-align: center;
  margin: 32px 0;
}

/* style.css */

/* Add styles for the hamburger menu */
.hamburger_menu {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* Show the navigation links when the menu is open */
.header_links.show {
  display: flex;
}

@media screen and (max-width: 600px) {
  .header_links_ul {
    flex-direction: column;
    text-align: center;
  }

  .hamburger_menu {
    display: block;
    color: #fff;
  }
}
