body {
  background-color: #111927;
  overflow-x: hidden;
  box-sizing: border-box;
}

:root {
  --black: #111927;
  --white: #ffffff;
  --gradient: linear-gradient(89deg, #c9442d 0.55%, #893e97 91.24%);
  --grey: #9ca3af;
  --lightGrey: #d1d5db;
  --darkGrey: #5f5f5f;
  --darkerGrey: #6a6a6a;
  --textGrey: #a8a8a8;
  --lightBlack: #1e2834;
  --orange: #c9442d;
  --purple: #893e97;
}

@media screen and (max-width: 500px) {
  .App {
    overflow-x: hidden;
  }
}
